In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

%matplotlib inline

In [8]:
unemployment = pd.read_csv('../data/unemployment.csv')

In [15]:
unemployment.head()

     COUNTY STATE periodName  year  unemployment_rate
0  Anderson    TN   December  2018                3.2
1   Bedford    TN   December  2018                3.2
2    Benton    TN   December  2018                3.8
3   Bledsoe    TN   December  2018                5.4
4    Blount    TN   December  2018                2.8

In [29]:
unemployment.columns

Index(['COUNTY', 'STATE', 'periodName', 'year', 'unemployment_rate'], dtype='object')

In [10]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')

In [17]:
zipcodes.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.012, -87.0214 36...."

In [32]:
zipcodes.columns

Index(['zip', 'objectid', 'po_name', 'shape_stlength', 'shape_starea',
       'geometry'],
      dtype='object')

In [26]:
school_districts = gpd.read_file('../data/school_districts.geojson')

In [31]:
school_districts.columns

Index(['first_name', 'city', 'zip', 'email', 'state', 'last_name', 'address',
       'position', 'term_expir', 'district', 'phone', 'geometry'],
      dtype='object')

In [33]:
bus_stops = pd.read_csv('../data/busstops_cleaned.csv')

In [34]:
bus_stops.columns

Index(['stop', 'route', 'location', 'lat', 'lng'], dtype='object')